<!-- show all of the players in a given team -->

<!-- show team MOVED to index players -->

<% include ../partials/header %>
<!-- <script src='/javascripts/players.js'></script> -->

<!-- show every player of selected team -->
<a href="/teams/<%= team.id %>">Back</a>
<div id="showTeam">
  <% team.forEach(function(player) { %>
    <p><%= player.name %></p>
    <p><%= player.image %></p>

  <div class="">
  <!-- below is the button to edit player -->
      <a class="" href="/players/<%= player.id %>/edit">Edit</a>
      <form action="/players/<%= player.id %>?_method=delete" method="team" style="float:right;">
        <input type="submit" class="" value="DELETE">
      </form>
  </div>


  <% } %>
</div>


<!-- see all players etc -->
<div>
  <h4 class="header">Players</h4>
</div>
<div class="">
  <a href="/teams/<%= team.id%>/players/new" class="btn">Add a new player</a>
  <a href="/teams/<%= team.id%>/players" class="btn">See all players</a>

  <a href="/teams/<%= team.id%>" class="btn">See Referenced Team</a>
</div>

<% include ../partials/footer %>