<%= include ../partials/header %>
  <div class="ui two column centered grid">
    <div class="column">
      <h1>Create a new player!</h1>
<!-- maybe integrate api call for player stats here -->

      <form action="/teams/<%= team.id %>/players" method="team">
        <div class="">
          <div class="field">
            <label for="players">Player Name:</label>
            <textarea type="text" name="player[name]" id="players" placeholder="Enter your player name"></textarea>
          </div>

          <input type="hidden" name="player[author]" id="author" value="<%= author._id %>">

          <button type="submit" class="btn btn-default">Submit</button>

          <a href="/teams/<%= team.id %>/players" class="" type="submit">Cancel</a>

          </div>
        </div>
      </form>


    </div>
  </div>
<%= include ../partials/footer %>