<% include ../partials/header %>
  <div class="">
    <div class="">
      <% if(currentuser !== ""){ %>
        <div class="">
          <a href="/posts/new">
          <i class="plus icon"></i>
          Add a new post</a>
        </div>
        <!-- Need to move this to Navbar -->
        <div class="">
          <a href="/logout">logout: <%= currentuser %></a>
        </div>
      <% }  %>
    </div>
    <h1 class="">Posts</h1>
  </div>
  <div id="allPosts" class="">
    <% posts.forEach(function(post) {  %>
    <div class="items">
      <div class="item">
        <div class="itemMedia">
<!--           <img src="<%= post.media  %>"> -->
        </div>
        <div class="postDescrip">
          <a class="header" href="/posts/<%= post.id %>"><%= post.title %></a>
          <span><em>Created by: <%= post.author.username %></em> - </span>
          <span class="date"><%= post.date %></span>
        </div>
      </div>
    </div>
    <% }) %>
  </div>

<% include ../partials/footer %>